.header {
  height: 500px;
  background-image: url(../img/beijing01.jpeg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 64%;
}

.main .item {

}

.main .item img {
  width: 100%;
}

.under-line {
  position: relative;
}

.under-line::after {
  content: "";
  height: 2px;
  width: 60px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}

