
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(135deg, #4bc0c8, #c779d0, #feac5e);
  height: 520vh;
}

ul {
  list-style: none;
}
.header {
  height: 666px;
  background-image: url(..https://private-user-images.githubusercontent.com/161402431/308563572-eb3525c9-6bae-42e9-9069-ba8eaa7c97fe.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDkxMjg2MzksIm5iZiI6MTcwOTEyODMzOSwicGF0aCI6Ii8xNjE0MDI0MzEvMzA4NTYzNTcyLWViMzUyNWM5LTZiYWUtNDJlOS05MDY5LWJhOGVhYTdjOTdmZS5qcGc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwMjI4JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDIyOFQxMzUyMTlaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1jMjYzMGRjY2E0NjFmN2ExYzRhZDg4NmQxMmJhNDBiNWJmNWMwNjdlODdkOGQ5ZjkxNmZiMzAzNjA0ZTcyMmY5JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.PSSqxMf99H2_nBxJqdQBT3F4cvgiO7mKnPP0CZKioJU);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 37%;
}
.nav {
  direction: row;
  display: flex;
  justify-content: flex-end;
}
a {
  margin: 40px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;

  color: white;
}

.item1 {
  height: 50rem;
  width: 50rem;

  margin: 8px;
}
.item {
  display: flex;
  align-items: flex-end;
  margin-top: 39rem;
}
